# General
*__pycache__
*.pdf
# SB3
*.zip
*/logs
*/models
# ROS2
build
install
*/log
*/*/*/resource
*/*/*/test
*/*/*/models
# other pkg
behaviortree_ros2
btcpp_ros2_interfaces
opennav_docking_msgs
# install file
*.deb
*.ddeb